# source: https://hub.docker.com/r/ugeek/webdav
version: '3.3'
services:
    run:
        container_name: webdav
        restart: unless-stopped
        ports:
            - '80:80'
        volumes:
            - '$HOME/docker/webdav:/media'
        environment:
            - USERNAME=webdav
            - PASSWORD=webdav
            - TZ=Europe/Madrid
            - UDI=1000
            - GID=1000
        image: run